<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ASI APP</title>
  </head>
  <body>
    <h1>Welcome to the asi app!</h1>
    <p> Here you can sent a request for Tax Return on the ASI APP!</p>
    <a href ="/asi"> Browse asi</a>
    <a href = "/asi/new " >  add asi </a>
  </body>
</html>
