<!-- views/asi/new.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta Request="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create a Fruit</title>
  </head>
  <body>
<!-- views/asi/new.ejs -->

<body>
    <h1>Create a Tax Return Request!</h1>
    <form action="/asi" method="POST">
      <label for="Request">Request:</label>
      <input type="text" Request="Request" id="Request" />
  
      <label for="isReadyToEat">Ready to Eat?</label>
      <input type="checkbox" Request="isReadyToEat" id="isReadyToEat" />
  
      <button type="submit">Add a request </button>
    </form>
  </body>
  

  </body>
</html>
